@model IEnumerable<UserClientViewModel>
@using nexus_connect.Services.TimeServices
@{
    ViewData["Title"] = "Home Page";
}

@section MainContainer {
        <h2>Assigned projects</h2>
        <section class="d-flex gap-3">
        @if(Model.Count() > 0){
            @foreach (var item in Model)
            {
                Console.WriteLine(@item.ColorAccent);
                string createdDate = TimeConverter.TimeStampToDateWithTimeZone(item.CreatedTimestamp);
                <div style="border-left: 10px solid @item.ColorAccent ;   background: linear-gradient(297deg,  rgba(95,39,205,1)  0%, @item.ColorAccent 100%);" class="project_container">
                  <div class="container_grid grid-2-3">
                        <div class="project_name">
                            <h3 class="display-10">@item.Name</h3>
                        </div> 
                        <div class="project_entry"> 
                            <p class="lead"><a href="#" class="btn btn-entry">Enter</a></p>
                        </div>
                        <div class="project_datetime">
                                <p  style="font-size: 0.6rem;text-align: center;">Access granted date : @createdDate</p>
                            </div>
                         <div class="project_permission project_permission-@item.AccessPermission" style="text-align: center;">
                               <span class="permission_name permission_name-@item.AccessPermission">@item.AccessPermission</span>
                            </div>
                        </div>
                </div>
                }
        }else{
            <div class="jumbotron mb-2">
                    <div class="container-fluid">
                         <p class="p-2 bg-warning text-dark"><b class="text-white mr-4">!</b><strong>You have no Assigned Clients to your account yet.</strong></p>
                    </div>
            </div>
        }
        </section>
}
